<header>
    <mat-toolbar class="nav">
        <div class="nav__leftItems">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <div>Kanban Board</div>
        </div>   
        <div class="nav__rightItems">
            <button mat-flat-button color="accent" class="nav__link" routerLink="/login">
                Login
            </button>
            <button mat-flat-button color="primary" class="nav__link" routerLink="/register">
               Sign up
            </button>
        </div>
    </mat-toolbar>
</header>
