.register {
    &__body {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__card {
        width: 25rem;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        // FORM STYLES
    }
}